/*Используемуе шрифты*/
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Свойства шрифтов главная страница*/
body {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

/*Свойства шрифтов хедэр главная страница*/
.page_header {
  background-color: #ffe17f;
  color: #000000;
}

.page_header a,
.main_index a:not(.contacts_phone) {
  color: #000000;
  text-decoration: none;
}

.header_search_form input,
.header_search_form button {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffe17f;
}

.navigation_menu_catalog,
.navigation_menu_item,
.slider_more-detailed,
.index_benefits_button,
.about-shop_link {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

/*Свойства шрифтов мэйн главная страница*/
.slider_number {
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
  background-color: #ffe17f;
}

.slider_promo,
.index_benefits_item h3,
.about-shop h3,
.mailing-list_title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider_text p+p{
  color: #444444;
}

.slider_features dt {
  font-size: 36px;
}

.slider_features dd {
  color: #444444;
  font-size: 16px;
}

.index_category_item {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
}

.index_benefits {
  color: #000000;
  background-color: #f0f0f0;
}

.index_benefits_button {
    font-size: 18px;
}

.index_benefits_current {
  color: #ffe17f;
  background-color: #000000;
}

.index_benefits_text {
  color: #444444;
}

.delivery_wrapper {
  background-color: #f0f0f0;
}

.delivery {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

.about-us_text {
  color: #444444;
}

.delivery_line_item {
  font-weight: 700;
  line-height: 20px;
}

.about-shop h4 {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
}

.contacts_address_text {
  color: #444444;
  font-style: normal;
}

.contacts_phone {
  color: #444444;
  font-style: normal;
}

.contacts_timetable_item {
  color: #444444;
}

.mailing-list_container {
  color: #444444;
  background-color: #f0f0f0;
}

.mailing-list_title {
  color: #000000;
}

.mailing-list_form input {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #f0f0f0;
}

.mailing-list_form button {
  color: #000000;
  background-color: #f0f0f0;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

/*Свойства шрифтов футер главная страница*/
.footer_index {
  color: #ffffff;
  background-color: #444444;
  font-size: 16px;
  line-height: 20px;
}

.footer_address_text {
  font-style: normal;
}

.footer_index a:not(.footer_phone) {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer_navigation_item {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.footer_phone {
  color: #ffffff;
  text-decoration: underline;
}

/*Свойства шрифтов страница каталога*/
.main_catalog a {
  color: #000000;
  text-decoration: none;
}

.bread-crumbs h1 {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.bread-crumbs_item {
  line-height: 20px;
}

.catalog_filter h2,
.select_container h2,
.pagination_show-more {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter_title {
  font-weight: 700;
  line-height: 20px;
}

.filter_item {
  font-size: 16px;
  line-height: 19px;
}

.filter_button,
.pagination_prev,
.pagination_next {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.product_card_title {
  font-weight: 700;
  line-height: 20px;
}

.product_card_price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.pagination_button a {
  color: #000000;
  line-height: 21px;
  text-decoration: none;
}

.pagination_item a {
  color: #444444;
  font-size: 16px;
  text-decoration: none;
}

/*Построение сетки + стики-футер*/
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

/*Построение сетки хедэр главной страницы*/
.page_header {
  width: 1160px;
  padding: 0 60px;
  margin: 0 auto;
}

.header_menu_container {
  display: flex;
  margin: 46px auto 30px;
}

.header_search_form {
  width: 517px;
  height: 40px;
  display: flex;
}

.header_search_form input {
  width: 359px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding: 0;
  padding-left: 48px;
}

.header_search_form button {
  width: 160px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  padding: 0;
  text-align: center;
}

.log-in {
  width: 204px;
  padding-left: 27px;
  margin: auto 26px;
}

.navigation_user_list {
  display: flex;
  margin: 0 0 0 auto;
  justify-content: end;
  align-items: center;
  gap: 10px 36px;
  flex-wrap: wrap;
}

.navigation_user_item:nth-child(1)  {
  width: 93px;
  padding-left: 12px;
}

.navigation_user_item:nth-child(2)  {
  width: 74px;
  padding-left: 25px;
}

.navigation_menu {
  display: flex;
}

.navigation_menu_catalog {
  width: 236px;
  margin: auto 0;
}

.navigation_menu_plus {
  width: 50px;
  margin: auto 7px;
}

.navigation_menu_list {
  width: 471px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-bottom: 13px;
  margin-left: auto;
  gap: 10px 45px;

}

.navigation_menu_item {
  width: 127px;
}

/*Построение сетки хедэр страницы каталога*/
.user-name {
  width: 119px;
  padding-left: 27px;
  margin-left: 26px;
  align-self: center;
}

.log-out {
  width: 56px;
  margin: auto 28px;
}

/*Построение сетки мэйн страницы каталога*/
.main-container {
  flex-grow: 1;
}

.delivery_wrapper {
  width: 1160px;
  text-align: center;
}
