/*Используемуе шрифты*/
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/*Свойства шрифтов главная страница*/
body {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

/*Свойства шрифтов хедэр главная страница*/
.page_header {
  background-color: #ffe17f;
  color: #000000;
}

.page_header a,
.main_index a:not(.contacts_phone) {
  color: #000000;
  text-decoration: none;
}

.header_search_form input,
.header_search_form button {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffe17f;
}

.navigation_menu_link,
.navigation_menu_item,
.slider_more-detailed,
.index_benefits_button,
.about-shop_link,
.email_button {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

/*Свойства шрифтов мэйн главная страница*/
.slider_number {
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
  background-color: #ffe17f;
}

.slider_promo,
.index_benefits_item h3,
.about-shop h3,
.mailing-list_title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider_text p+p{
  color: #444444;
}

.slider_features dt {
  font-size: 36px;
}

.slider_features dd {
  color: #444444;
  font-size: 16px;
}

.index_category_item {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
}

.index_benefits {
  color: #000000;
  background-color: #f0f0f0;
  width: 100%;
}

.index_benefits_button {
    font-size: 18px;
}

.index_benefits_current {
  color: #ffe17f;
  background-color: #000000;
}

.index_benefits_text {
  color: #444444;
}

.delivery_wrapper {
  background-color: #f0f0f0;
}

.delivery {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

.about-us_text {
  color: #444444;
}

.delivery_line_item {
  font-weight: 700;
  line-height: 20px;
}

.about-shop h4 {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
}

.contacts_address_text {
  color: #444444;
  font-style: normal;
}

.contacts_phone {
  color: #444444;
  font-style: normal;
}

.contacts_timetable_item {
  color: #444444;
}

.mailing-list_container {
  color: #444444;
  background-color: #f0f0f0;
}

.mailing-list_title {
  color: #000000;
}

.mailing-list_form input {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #f0f0f0;
}

.mailing-list_form button {
  color: #000000;
  background-color: #f0f0f0;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

/*Свойства шрифтов футер главная страница*/
.footer_index {
  color: #ffffff;
  background-color: #444444;
  font-size: 16px;
  line-height: 20px;
}

.footer_address_text {
  font-style: normal;
}

.footer_index a:not(.footer_phone) {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer_navigation_item {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.footer_phone {
  color: #ffffff;
  text-decoration: underline;
}

/*Свойства шрифтов страница каталога*/
.main_catalog a {
  color: #000000;
  text-decoration: none;
}

.bread-crumbs h1 {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.bread-crumbs_item {
  font-size: 16px;
  line-height: 20px;
}

.catalog {
  color: #000000;
  background-color: #f0f0f0;
}

.catalog_filter h2,
.select_container h2,
.pagination_show-more {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter_title {
  font-weight: 700;
  line-height: 20px;
}

.filter_item {
  font-size: 16px;
  line-height: 19px;
}

.filter_button,
.pagination_prev,
.pagination_next {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.select_control {
  background-color: #f0f0f0;
  border: none;
  font-size: 18px;
  line-height: 30px;
}

.product-page_monopod {
  background-color: #ffffff;
}

.product_card_title {
  font-weight: 700;
  line-height: 20px;
}

.product_card_price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.pagination_show-more {
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

.pagination_container {
  background-color: #ebebeb;
}

.pagination_button a {
  color: #000000;
  line-height: 21px;
  text-decoration: none;
}

.pagination_item a {
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

/*Построение сетки + стики-футер*/
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation_user_list,
.navigation_menu_list,
.index_category_list,
.delivery_line_list,
.contacts_timetable,
.footer_navigation_list,
.footer_social_list,
.slider_properties_list,
.index_benefits_list,
.filter_list,
.product_monopod_list,
.pagination_list,
.bread-crumbs_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*Построение сетки хедэр главной страницы*/
.page_header {
  width: 1040px;
  min-height: 300px;
  padding: 0 60px;
  margin: 0 auto;
  margin-top: 40px;
}

.header_menu_container {
  display: flex;
  margin: 46px auto 30px;
  justify-content: space-between;
}

.header_search_form {
  width: 517px;
  height: 40px;
  display: flex;
}

.header_search_form input {
  width: 359px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding: 0;
  padding-left: 48px;
}

.header_search_form button {
  width: 160px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  padding: 0;
  text-align: center;
}

.log-in {
  width: 204px;
  padding-left: 27px;
  align-self: center;
}

.navigation_user_list {
  display: flex;
  margin: 0;
  justify-content: end;
  align-items: center;
  gap: 10px 36px;
  flex-wrap: wrap;
}

.navigation_user_item:nth-child(1)  {
  width: 83px;
  padding-left: 22px;
}

.navigation_user_item:nth-child(2)  {
  width: 74px;
  padding-left: 25px;
}

.navigation_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.navigation_menu_block {
  display: flex;
  margin-right: 5px;
}

.navigation_menu_link {
  width: 236px;
}

.navigation_menu_plus {
  width: 50px;
  margin-left: 7px;
}

.navigation_menu_list {
  width: 471px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px 45px;
}

.navigation_menu_item {
  width: 127px;
  text-align: end;
}

/*Доп свойства сетки хедэр страницы каталога*/
.log-in_block {
  display: flex;
  justify-content: space-between;
  width: 230px;
  align-items: center;
}

.user-name {
  width: 119px;
  padding-left: 27px;
}

.log-out {
  width: 56px;
}

/*Построение сетки мэйн главной страницы*/
.main_index {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
}

.main-container {
  flex-grow: 1;
}

.slider_item {
  display: flex;
  width: 1160px;
}

.slider_number {
  margin-top: 13px;
}

.index_category_list {
  display: flex;
  width: 1160px;
  justify-content: space-between;
}

.index_benefits_container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.index_benefits_buttons,
.index_benefits_button {
  width: 280px;
}

.index_benefits_list {
  width: 448px;
  padding-left: 116px;
  margin-right: auto;
}

.delivery_wrapper {
  width: 1160px;
  text-align: center;
}

.about-shop {
  display: flex;
  width: 1160px;
  column-gap: 108px;
}

.about-us_container {
  width: 520px;
}

.contacts_container {
  width: 532px;
}

.mailing-list_container {
  width: 100%;
}

.mailng-list_wrapper {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.mailing-list_title {
  width: 348px;
  margin: 64px 252px 144px 0;
}

.mailing-list_text {
  width: 560px;
  margin-top: 74px;
}

.mailing-list_form {
  width: 810px;
  display: flex;
  margin-bottom: 56px;
}

.mailing-list_form input {
  width: 551px;
  padding-left: 16px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.mailing-list_form button {
  width: 253px;
  text-align: center;
  border: 3px solid #c4c4c4;
}

.mailng-list_wrapper span {
  width: 160px;
  padding-left: 32px;
  margin-left: auto;
}

/*Построение сетки мэйн страницы каталога*/
.bread-crumbs {
  width: 1040px;
  padding: 0 60px;
  margin: 35px auto 34px;
}

.bread-crumbs_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 10px 36px;
}

.catalog {
  width: 100%;
}

.catalog_wrapper {
  width: 1160px;
  display: flex;
  margin: 0 auto;
}

.catalog_filter {
  width: 260px;
  padding-left: 60px;
}

.select_product-page_container {
  width: 840px;
}

.select_container {
  display: flex;
  justify-content: space-between;
  margin:  0 40px;
}

.product-page_monopod {
  display: flex;
  flex-direction: column;
  width: 840px;
  row-gap: 44px;
  align-items: center;
}

.product_monopod_list {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 40px 0;
  gap: 44px 40px;
}

.pagination_show-more {
  width: 760px;
}

.pagination_container {
  width: 760px;
  display: flex;
  margin-bottom: 78px;
  justify-content: space-between;
}

.pagination_list {
  display: flex;
  margin: 0;
}

.pagination_item {
  width: 40px;
}

/*Построение сетки футер главной страницы*/
.footer_index_container {
  width: 1160px;
  min-height: 198px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.footer_address {
  width: 234px;
  min-height: 182px;
  margin-top: 62px;
  margin-bottom: 77px;
}

.footer_logo {
  margin: 0;
}

.footer_logo_image {
  display: block;
}

.footer_address_text {
  margin-top: 35px;
  height: 40px;
}

.footer_nav-social_container {
  width: 444px;
  min-height: 123px;
  margin-left: 10.6%;
  margin-right: 15.7%;
  margin-top: 137px;
  margin-bottom: 61px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_navigation_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 5px;
}

.footer_social_list {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  column-gap: 10px;
  justify-content: center;
}

/*Рамка и изменение размеров временные, для обозначения занятого места*/
.footer_social_item {
  width: 36px;
  height: 36px;
  align-self: center;
  border: 1px solid #ffffff;
}

.footer_other {
  width: 175px;
  margin-top: 140px;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer_other_image {
  display: block;
}
